<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBStorage" connectionString="Data Source=K202-04;Initial Catalog=DBWorkProcess;Persist Security Info=True;User ID=sa;Password=student" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

